.txt-sm-left {
	margin: 5px;
}

.txt-sm-right {
	margin: 5px;
	padding: 5px;
}

#spacer {
	height: 100px;
}

#instructions {
	position: block;
	margin: auto;
}

#start-quiz-btn {
	position: block;
	margin: auto;
}

#start {
	position: block;
	margin: auto;
}

#start-btn {
	background-color: blueviolet;
}
